.header{
    height: 100px;
    padding-top: 40px;
 
    width:100%

}
.title-container{
    color: rgba(255, 255, 255, 0.699);
    text-align: center;
    font-size: 2em;
}
.nav{
    padding: 0px 20px;
    
}
.nav li{
    display: inline;
    margin-left: 30px;
    
  }
  .nav lu{
      margin-top: 30px;
  }

.logo h3{
    width:180px;

}
  .nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }